body{
  background-color: black;
  color:white;
}

a {
  color: white;
}

a:hover {
  cursor: pointer;

}

h1{
  font-size: 30px;

}
h5{
  font-size: 12px;
  float: right;
  color: yellow;

}
h6{
  font-size: 12px;
  color: yellow;
}
.base {
width: 100%;
z-index: 0;
}


.toplayer{
  position: fixed;
z-index:1;

border: 1px solid white;
height: 88vh; /* For 100% screen height */
    width:  90.5vw;
margin-left: 60px;
margin-right: 200px;
top:0;
}

.toplayer2 {
  position: fixed;
width:  86vw;
height: 88vh;
padding: 20px;
padding-bottom: 40px;
margin-left: 90px;
margin-right: 0px;
top:0;
//background-color: red;
z-index: 2;

}

h2{
  font-size:14px;
}

h7{
  font-size:14px;
}

.base h2{
  font-size:16px;
  font-weight: bold;

}


.bottomnav{
position: fixed;
  bottom: 0;
  width: 98%;
  padding-right: 80px;
   padding-left: 80px;
  padding-bottom: 30px;
    padding-top: 10px;
  left: 10px;
}


.bottomrowq{
  position: relative;
  top:78vh;
  right: -5px;
}

.hline{
  width: 100%;
  height: 0.5px;
  background-color: white;
}



button{
  background-color: black;
  color: white;
  border: none;

}

.quest2{
  opacity: 0;
}

.quest3{
  opacity: 0;
}

.lowopac{
  opacity: 0.2;
}

.bottomrowq , .questions , .nums{
  opacity: 0;
}



.quote{
  width:100%;

}

.inactive {
  opacity: 0.5;
}

.inactive a:hover {
  color: white;
  opacity: 0.2;
  text-decoration: none;
}
.bottomnav h2{
  font-weight: normal;
}

.hline {
  width:100%;
  height: 0.5px;
  background-color: white;
}

